body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #111;
    color: white;
}

header {
    background: #c40000;
    padding: 20px;
    text-align: center;
}

nav {
    background: #222;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

section {
    padding: 40px;
}
